<div class="row justify-content-between pb-3">
  <div class="col d-flex justify-content-start h5">
    {{name | uppercase}}
  </div>
  <div class="col d-flex justify-content-end">
    <a routerLink=""
      class="link text-muted"
      (click)="onDiscardFiltersButtonClick()">
        {{discardFiltersButtonLabel | uppercase}}
    </a>
  </div>




</div>

<div class="container-fluid px-4 border bg-white">
    <app-filter-step *ngFor="let item of filterSteps$ | async; index as i" [step]="item" [index]="i"></app-filter-step>
    <div class="row pt-3">
        <div class="col p-2 d-flex justify-content-center">
            <a routerLink=""
                class="link text-info"
                (click)="onAddFunnelStepClick()">
              {{addFunnelStepButtonLabel | uppercase}}
            </a>
        </div>
    </div>
</div>

<div class="row pt-3">
  <div class="col d-flex justify-content-start">
    <button type="button"
            class="btn btn-warning"
            (click)="onApplyFiltersButtonClick()">{{applyFiltersButtonLabel}}</button>
  </div>
</div>
