  <div class="row">
    <div class="col">
      {{step.id + 1}}. Step
    </div>
    <div class="col">
      some action buttons...
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <ng-select #eventSelect [items]="events$ | async"
                bindLabel="name"
                autofocus
                [searchable]="false"
                [(ngModel)]="selectedEvent"
                (change)="onEventSelectedChange($event)">
                <ng-template ng-header-tmp>
                    <input #eventValueFilter style="width: 100%; line-height: 24px" type="text" (input)="eventSelect.filter(eventValueFilter.value)"/>
                </ng-template>
      </ng-select>
    </div>
    <div class="col-10" *ngIf="selectedEvent">
        <app-event-attribute *ngFor="let item of step.eventAttributes; index as i"
                              [event]="selectedEvent"
                              [eventAttribute]="item"></app-event-attribute>
                              <a routerLink=""
                                 class="link-info"
                                 (click)="onAddEventAttribute()">
                                {{(step.eventAttributes.length < 1) ? addEventAttributeButtonLabel : refineMoreLabel}}
                              </a>
    </div>
