  <div class="row">
    <div class="col d-flex justify-content-start">
      {{index + 1}}. Step
    </div>
    <div class="col d-flex justify-content-end">
      <a routerLink=""
          class="link link-info"
          (click)="onCopyFilterStep()">
        Copy
      </a>
      <a routerLink=""
          class="link link-info"
          (click)="onDeleteFilterStep()">
        Delete
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <ng-select #eventSelect [items]="events$ | async"
                bindLabel="name"
                autofocus
                [searchable]="false"
                [(ngModel)]="step.selectedEvent"
                (change)="onEventSelectedChange($event)">
                <ng-template ng-header-tmp>
                    <input #eventValueFilter style="width: 100%; line-height: 24px" type="text" (input)="eventSelect.filter(eventValueFilter.value)"/>
                </ng-template>
      </ng-select>
    </div>
    <div class="col-10" *ngIf="step.selectedEvent">
        <app-event-attribute *ngFor="let item of step.eventAttributes; index as i"
                              [event]="step.selectedEvent"
                              [eventAttribute]="item"></app-event-attribute>
                              <a routerLink=""
                                 class="link link-info"
                                 (click)="onAddEventAttribute()">
                                {{(step.eventAttributes.length < 1) ? addEventAttributeButtonLabel : refineMoreLabel}}
                              </a>
    </div>
