    <div *ngIf="eventProps" class="row pb-2">
      <div class="col-3">
        <ng-select #eventPropertySelect [items]="eventProps"
                  bindLabel="name"
                  autofocus
                  [searchable]="false"
                  bindValue="id"
                  [(ngModel)]="eventAttribute.eventPropertyKey"
                  (change)="onEventPropertySelectedChange()">
                  <ng-template ng-header-tmp>
                      <input #eventPropertyValueFilter style="width: 100%; line-height: 24px" type="text" (input)="eventPropertySelect.filter(eventPropertyValueFilter.value)"/>
                  </ng-template>
        </ng-select>
      </div>
      <div class="col-2" *ngIf="eventAttribute.eventPropertyKey">
        <ng-select #operationSelect [items]="operations$ | async"
                  bindLabel="name"
                  autofocus
                  [searchable]="false"
                  [(ngModel)]="eventAttribute.operation"
                  (change)="onOperationSelectedChange()">
                  <ng-template ng-header-tmp>
                      <input #operationsValueFilter style="width: 100%; line-height: 24px" type="text" (input)="operationSelect.filter(operationsValueFilter.value)"/>
                  </ng-template>
        </ng-select>
      </div >
      <ng-container *ngIf="eventAttribute.operation" >
        <div class="col-2" *ngIf="eventAttribute.operation.numberOfInputs >= 1">
          <input [type]="inputType" [(ngModel)]="eventAttribute.value1" class="form-control">
        </div>
        <ng-container *ngIf="eventAttribute.operation.numberOfInputs > 1">
          <div class="col-1 d-inline-flex align-items-center justify-content-center" >
            and
          </div>
          <div class="col-2" >
            <input [type]="inputType" [(ngModel)]="eventAttribute.value2" class="form-control">
          </div>
        </ng-container>
      </ng-container>

    </div>

